html
{
	min-height:100vh;
}


body
{
	background-image: url(images/bg2.jpg);
	background-size: cover;
	min-height: 100vh;
	position: relative;
}


h1
{
	/*color: #33FFB5;*/
	color: white;
	letter-spacing: 0.5em;
	font-weight: 800;
	font-size: 50px;
}

h4, a
{
	color: white;
	font-size: 15px;
}

footer a
{
	margin-right: 2%;
}

h4
{/*
	position: absolute;
	left: 44%;
	top: 90%*/
}

#header
{ 
	padding-top: 24%;
}

#start
{
	padding-top: 1%;
	
}

footer
{
	margin-bottom: 10%;
}

