html
{
	min-height:100vh;
}


body
{
	background-image: url(images/bg6.jpg);
	background-size: 100% auto;
	background-repeat: none;
	min-height: 100vh;
	position: relative;
	
}


#bodyContainer
{
/*	background-color: rgb(255, 102, 102, 0.2);*/
	background-color: rgb(0, 0, 102, 0.1)
	min-height: 100vh;
	position: relative;
}



#content
{
	margin-top: 17%;
}

h1
{
	/*color: #33FFB5;*/
	color: white;
	letter-spacing: 0.5em;
	font-weight: 800;
	font-size: 100px;
	font-weight: 900px;
	font-family: 'Archivo Black', sans-serif;
	
}

a
{
	color: white;
	font-size: 14px;
	font-weight: bold;
	
}

h4
{
	color: white;
	padding-bottom: 5%;
	margin-top: 0;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
}


#start
{
	padding-top: 1%;
	
}




