html
{
	min-height:100vh;
}


body
{
	background-image: url(images/bg4.jpg);
	background-size: auto 110%;
	min-height: 100vh;
	position: relative;
}

#left h1
{
/*	color: #33FFB5;*/
	color: #4AE5AD;
	font-size: 40px;
	letter-spacing: 0.3em;
	padding-left: 10px;
	font-weight: bold;

}

#left
{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 28%;
}


#submitSection
{
	margin-bottom: 0;
}

#header
{
	position: absolute;
	left: 80%;
	top: 5%;
}
#header a
{
	color: black;
	margin-right: 2%;
}

#header a:visited {
  color: #header;
}


#header a:hover {
  color: pink;
  text-decoration: underline;

}

/* selected link */
#header a:active {
  color: pink;
}

#right
{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 28%;
}



.input-field label {
     color: gray;
   }


 .input-field input[type=text]:focus + label {
     color: black;
   }

   .input-field input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }



#albums
{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 60%;
}



.uk-card-default
{
  background: transparent;
  box-shadow: none;
}

.uk-card-title
{
	font-size: 20px;
	margin: 0;

}

.range-field
{
	margin: 0;
}

#sliders
{
	position: relative;
	left: 12%;
	bottom: 22%;
	margin: 0;


}

#sliders img
{
	width: 15%;
}


#sliders #sliderleft
{
	margin-right: 45%;
}



.uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary>:not([class*=uk-card-media]) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary>:not([class*=uk-card-media]) .uk-slidenav, .uk-light .uk-slidenav, .uk-offcanvas-bar .uk-slidenav, .uk-overlay-primary .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav {
    color: rgba(0,0,0,0);
}

#nameSection
{
	padding-left: 2%;
	padding-bottom: 2%;
}

