html
{
	min-height:100vh;
}


body
{
	background-image: url(images/bg4.jpg);
	background-size: cover;
	min-height: 100vh;
	position: relative;
}






#header h1
{
/*	color: #33FFB5;*/
	color: #4AE5AD;
	font-size: 40px;
	letter-spacing: 0.3em;
	font-weight: bold;

}





#header a
{
	color: black;
	margin-right: 2%;
}

#header a:visited {
  color: #header;
}


#header a:hover {
  color: pink;
  text-decoration: underline;

}

/* selected link */
#header a:active {
  color: pink;
}




#left
{
	margin-top: 15%;
}


.uk-input, .uk-select, .uk-textarea 
{
	background-color: transparent;
	transition: .3s ease-in-out;
}

.uk-input:focus
{
	background-color: transparent;
	border-color: pink;
}





#submitSection
{
	margin-bottom: 0;
}



#albums
{
  width: 40%;
  margin-top: 5%;
  z-index: 100;
}



.uk-card-default
{
  background: transparent;
  box-shadow: none;
}

.uk-card-title
{
	font-size: 20px;
	margin: 0;

}

.range-field
{
	margin: 0;
}

#sliders
{
	position: relative;
	left: 12%;
	bottom: 22%;
	margin: 0;


}

#sliders img
{
	width: 15%;
}


#sliders #sliderleft
{
	margin-right: 45%;
}



.uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary>:not([class*=uk-card-media]) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary>:not([class*=uk-card-media]) .uk-slidenav, .uk-light .uk-slidenav, .uk-offcanvas-bar .uk-slidenav, .uk-overlay-primary .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav {
    color: rgba(0,0,0,0);
}

#nameSection
{
	padding-left: 2%;
	padding-bottom: 2%;
}






.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* end of Lea's code */

/*
 * Clearfix from html5 boilerplate
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* my stuff */
#status, button {
    margin: 20px 0;
}

